$fuenteTexto: 'Work Sans', sans-serif;
$fuentePesoRegular: 400;
$fuentePesoNegrita: 600;
$colorTexto: #ef6461;
$colorFondo: #2ddfa9;
$colorVerdeResaltado: #27F7BA;
$colorFondoClaro: #d8fef3;
$colorFondoClaro2: #b8e2d6;
$colorFondoHistorias: #f2f2f2;
$colorOscuro: #0042bf;
$colorBlanco: #f4fff9;
$colorMenu: #7e79b9;
$colorMenuClaro: #b86ad8;
$colorSeleccionMapa: #b02fba;
$tamañoEncabezado: 40px;

// Tamaños Pantallas
$minCelular: 576px;
$minTablet: 768px;
$minPantalla: 992px;
$minPantallaGrande: 1200px;

$tamañoTriangulo: 6px;

$cargadorColor1: #05e7ed;
$cargadorColor2: #0aeba7;