html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

#menu {
  margin: 1em;
}

.boton {
  cursor: pointer;
  margin: 1em;
  border: 1px dotted;
  padding: 0.3em;

  &:hover {
    border-style: solid;
  }

  &.seleccionado {
    background-color: #a6d5cd;
  }
}

#contenedorMapa {
  margin-left: 4em;
}

#informacion {
  position: absolute;
  color: rgb(250, 253, 253);
  font-size: 0.85em;
  padding: 0.5em;
  opacity: 0;
  transition: opacity 0.23s ease-out;
  background-color: rgba(64, 45, 100, 0.9);
  pointer-events: none;
  transform: translate(-50%, -110%);

  p {
    margin: 0.3em;
  }
}

#graficas {
  display: flex;
}
