@import './constantes';

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 400;
  font-size: 1.6em;
}

h2 {
  font-size: 1.6em;
}

#pantallaInicio {
  background-color: $colorFondo;
  color: white;
  padding-bottom: 10%;

  h2 {
    font-weight: 400;
  }
}

#lineaSuperior {
  margin-left: 0%;
  font-family: $fuenteTitulos;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: $colorFondo;
}

#menuSuperior {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 88%;
  left: 5%;
  border-bottom: white;
  border-bottom-style: solid;
  border-width: 3px;

  div {
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    cursor: pointer;
  }

  div:hover {
    color: #fdf96f;
  }
}

#menuHamburguesa {
  margin-top: 1.7%;
  margin-right: 0.8%;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 60px;
  right: 0;
  top: 0;
  cursor: pointer;

  .lineaMenu {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 4px;
    margin-top: 12%;
  }

  .lineaMenu:hover {
    background-color: #fdf96f;
  }
}

.titulo {
  font-family: $fuenteTitulos;
  font-size: 2em;
  width: 60%;
  margin-left: 10%;
  padding-top: 10%;
}

.subtitulo {
  font-family: $fuenteTexto;
  font-weight: 300;
  width: 40%;
  margin-left: 10%;
  padding-left: 2%;
  font-size: 1em;
  border-left: white;
  border-left-style: solid;
  border-width: 3px;
}

#subtituloColor {
  border-left: $colorTexto;
  border-left-style: solid;
  border-width: 3px;
}

#tituloMapas {
  padding-top: 6%;
}

#separador {
  background-image: linear-gradient($colorFondo, #f3fffe);
  height: 200px;
}

#pantallaColombia {
  background-color: #f3fffe;
  color: $colorTexto;
  padding-bottom: 10%;
}

#pantallaMunicipios {
  background-color: #f3fffe;
  color: $colorTexto;
  padding-bottom: 10%;
}

.boton {
  cursor: pointer;
  margin: 1em;
  border: 1px dotted;
  padding: 0.3em;
  font-family: $fuenteTexto;
  font-weight: 800;

  &:hover {
    border-style: solid;
  }

  &.seleccionado {
    background-color: rgba(239, 100, 97, 0.3);
  }
}

#contenedorMapaMun {
  // margin-left: 6em;
}

#contenedorMapaDeptos {
  // margin-left: 6em;
}

#informacion {
  position: absolute;
  color: rgb(239, 100, 97);
  font-size: 0.85em;
  font-family: $fuenteTexto;
  padding: 0.5em;
  opacity: 0;
  transition: opacity 0.23s ease-out;
  background-color: rgba(255, 255, 255, 0.9);
  pointer-events: none;
  transform: translate(-50%, -110%);

  p {
    margin: 0.3em;
  }
}

#graficas {
  display: flex;
  margin-left: 15%;
}

.menuAños {
  margin-left: 10%;
  margin-bottom: 6%;
  margin-top: 3%;
}
