@import './constantes';

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h3 {
  font-weight: 400;
  font-size: 1.6em;
}

h2 {
  font-size: 1.6em;
}

#pantallaInicio {
  background-color: $colorFondo;
  color: white;
  padding-bottom: 10%;

  h2 {
    font-weight: 400;
  }
}

#lineaSuperior {
  margin-left: 0%;
  font-family: $fuenteTitulos;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: $colorFondo;
}

#menuSuperior {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 88%;
  left: 5%;
  border-bottom: white;
  border-bottom-style: solid;
  border-width: 3px;

  div {
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    cursor: pointer;
  }

  div:hover {
    color: #fdf96f;
  }
}

#menuHamburguesa {
  margin-top: 1.7%;
  margin-right: 0.8%;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 60px;
  right: 0;
  top: 0;
  cursor: pointer;

  .lineaMenu {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 4px;
    margin-top: 12%;
  }

  .lineaMenu:hover {
    background-color: #fdf96f;
  }
}

.titulo {
  font-family: $fuenteTitulos;
  font-size: 2em;
  margin-left: 10%;
  padding-top: 10%;
}

.tituloPrincipal {
  width: 60%;
}

.subtitulo {
  font-family: $fuenteTexto;
  font-weight: 300;
  margin-left: 10%;
  padding-left: 2%;
  border-left: white;
  border-left-style: solid;
  border-width: 3px;
}

.subtituloColor {
  border-left: $colorTexto;
  border-left-style: solid;
  border-width: 3px;
}

.tituloMapas {
  padding-top: 6%;
}

#separador {
  background-image: linear-gradient($colorFondo, #f3fffe);
  height: 200px;
}

#pantallaColombia {
  background-color: #f3fffe;
  color: $colorTexto;
  padding-bottom: 10%;
}

#pantallaMunicipios {
  background-color: #f3fffe;
  color: $colorTexto;
  padding-bottom: 10%;
}

.boton {
  cursor: pointer;
  margin: 0.5em;
  border: 1px dotted;
  padding: 0.3em;
  font-family: $fuenteTexto;
  font-weight: 800;

  &:hover {
    border-style: solid;
  }

  &.seleccionado {
    background-color: rgba(239, 100, 97, 0.3);
  }
}

#informacion {
  position: absolute;
  color: rgb(239, 100, 97);
  font-size: 0.85em;
  font-family: $fuenteTexto;
  padding: 0.5em;
  opacity: 0;
  transition: opacity 0.23s ease-out;
  background-color: rgba(255, 255, 255, 0.9);
  pointer-events: none;
  transform: translate(-50%, -110%);

  p {
    margin: 0.3em;
  }
}

.graficas {
  display: flex;
  margin-left: 15%;
  margin-top: 2em;
}

.menuAños {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-bottom: 6%;
  margin-top: 3%;
}

.descripcion {
  flex: 0.6;
}

.seccion {
  display: flex;
}

/* Galería */
#contenedorGaleria {
  display: flex;
  flex-direction: column;
  margin: 2%;
  font-family: $fuenteTitulos;
  color: rgb(239, 100, 97);

  &.abierto {
    display: block;
  }

  h3 {
    margin-left: 2%;
    font-size: 2em;
  }
}

#galeria {
  display: flex;
  overflow-x: scroll;
  flex-wrap: wrap;
  justify-content: center;
}

.imagen {
  height: 35vh;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#contenedorImagen {
  padding: 2%;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;

  &.abierto {
    display: block;
    cursor: pointer;
  }

  img {
    height: 90vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #flechaDerecha {
    width: 2%;
    right: 5%;
    position: absolute;
    top: 46vh;
    font-size: 5em;
    font-family: $fuenteTexto;
    color: #2ddfa9;

    &.ultima {
      color: #000000;
    }
  }

  #flechaDerecha:hover {
    color: #ef6461;
  }

  #flechaIzquierda {
    width: 2%;
    left: 5%;
    position: absolute;
    top: 46vh;
    font-size: 5em;
    font-family: $fuenteTexto;
    color: #2ddfa9;
  }

  #flechaIzquierda:hover {
    color: #ef6461;
  }
}
